{% extends "base.html" %}{%block content %}

<section id="Artist" class="Artist1">
    <a href="{% url 'home' %}" class="btn">Back To Home Page</a>
    <br>
    <br>

    <div class="ATitle">
        <h1>MESOWETO</h1>
        <br>
        <div class="Title">Producer & Recording Artist</div>
        <br>
    </div>
    <br>

    <div class="images"> <img src="/static/images/Profile/MES.jpg"></div>
    <br>
    <div class="Profile">
        <h2>Profile</h2>
        <br>
        <h3>Mesoweto is by far the most exciting artist to look out for. He is indeed the epitome of when raw talent meets sheer determination</h3>
        <br>
        <h2>MUSIC</h2>
        <br>
        <h3>Mesoweto is more of a trap artist, though not quite like anything heard before him. He's uniqueness in sound, talent, versatility & overall delivery are aspects that make him a superstar
        </h3>
    </div>
    <br>

    <div class="Projects">
        <h1>Projects Out</h1>
        <br>
        <h3>2021: Stay in School</h3>
        <h3>Produced by SWM Production House</h3>
    </div>
    <br>

    <div class="UProjects">
        <h2>Upcoming Projects</h2>
        <br>
        <h2>2024 : Back to School </h2>
        <h3>Produced by SWM production house</h3>
        <br>
        <h2>2024 : Out Of School </h2>
        <h3>Produced by SWM Production House</h3>
        <br>


    </div>


</section>
{% endblock %}