{% extends "base.html" %}{%block content %}

<section id="Artist" class="Artist1">

    <a href="{% url 'home' %}" class="btn">Back To Home Page</a>
    <br>
    <br>
    <div class="ATitle">
        <h1>Tha Cash</h1>
        <br>
        <div class="Title">Producer & Recording Artist</div>
        <br>
    </div>
    <br>

    <div class="images"> <img src="/static/images/Profile/TH.png"></div>
    <br>
    <div class="Profile">
        <h2>Profile</h2>
        <br>
        <h3>Tha Cash is by far the most pivotal sound engineer at SWM always taking his sound to a level beyond average creation</h3>
        <br>
        <h2>MUSIC</h2>
        <br>
        <h3>Tha Cash produces a more abstract and experimental sound, fusing genres and always breaking the rules giving him the edge to compose music like never before. This is what distinguishes him from the rest of the pack
        </h3>
    </div>
    <br>

    <div class="Projects">
        <h1>Projects Out</h1>
        <br>
        <h3>None</h3>
        <br>
    </div>

    <div class="UProjects">
        <h1>Upcoming Projects</h1>
        <br>
        <h2>2023 : LUOS </h2>
        <h3>Produced by SWM Production House</h3>
        <br>
        <h2>2024 : Psychedwelms </h2>
        <h3>Produced by Tha Cash & SGS</h3>
        <br>


    </div>


</section>
{% endblock %}