{% extends "base.html" %}{%block content %}

<section id="Artist" class="Artist1">
    <a href="{% url 'home' %}" class="btn">Back To Home Page</a>
    <br>
    <br>
    <div class="ATitle">
        <h1>JAHTAFARI</h1>
        <br>
        <div class="Title">Producer</div>
        <br>
    </div>
    <br>

    <div class="images"> <img src="/static/images/Profile/JT.jpg"></div>
    <br>
    <div class="Profile">
        <h2>Profile</h2>
        <br>
        <h3>JahTaFari(better known amongst his peers as JT) serves as SWM's Producer & is respected amongst other SWM artists as the most highly developed hip hop producer in the crew</h3>
        <br>
        <h2>MUSIC</h2>
        <br>
        <h3>JT heads up SWM's production house due to his ability to tap into the grimey, hardcore sound that the street needs. He managed to develop his skill in a very short space of time, & his craft is responsible for laying the foundation of the SWM
            sound.
        </h3>
    </div>
    <br>

    <div class="Projects">
        <h1>Projects</h1>
        <br>
        <h3>None</h3>
    </div>
    <br>
    <div class="UProjects">
        <h2>Upcoming Projects</h2>
        <br>
        <h2>2023 : Street </h2>
        <h3>Joint project with Last Knight</h3>
        <br>
        <h2>2024 : UNTESTED </h2>
        <h3>Joint Project with TABLOX</h3>
        <br>


    </div>


</section>
{% endblock %}