{% extends "base.html" %}{%block content %}

<section id="Artist" class="Artist1">
    <a href="{% url 'home' %}" class="btn">Back To Home Page</a>
    <br>
    <br>
    <div class="ATitle">
        <h1>Tymless</h1>
        <br>
        <div class="Title">Producer & Recording Artist</div>
        <br>
    </div>
    <br>

    <div class="images"> <img src="/static/images/Profile/TYM.jpg"></div>
    <br>
    <div class="Profile">
        <h2>Profile</h2>
        <br>
        <h3>Mbulelo Mkontwana, also known as Tymless is a multi-instrumentalist, rapper, song-writer and record producer known for his progressive musical styles, timeless compositions and sentient song writing</h3>
        <br>
        <h2>MUSIC</h2>
        <br>
        <h3>Tymless has worked closely with fellow musician JayMar to create a distinctive premium sound, which they call Lo-fi West, the name is derived from LoFi hip hop infused with the infamous Kasi Lingo/Tsotsi taal which in turn refers to a form of
            slang spoken widely throughout South African townships
        </h3>
    </div>
    <br>

    <div class="Projects">
        <h1>Projects Out</h1>
        <br>

        <h3>None</h3>
    </div>
    <br>
    <div class="UProjects">
        <h1>Upcoming Projects</h1>
        <br>
        <h2>2023 : Broken Crayons Still Colour </h2>
        <br>


    </div>


</section>
{% endblock %}