{% extends "base.html" %} {%block content%}
<section class="home" id="home">
    <div class="content">
        <h1>WELCOME TO PRIME MUSIC DISTRIBUTION <br> The Hottest, New, Underground Digital Space!</h1>
        <br>
        <h3>Prime Music Distribution has officially released their latest album and their fans, both old and new, are going wild! <br> Sit back and listen to what makes these albums stand out, and comment with your thoughts. Don't forget to share</h3>
        <a href="#" class="btn">Show More</a>
    </div>
</section>


<section class="about" id="about">

    <h1 class="heading">About</h1>

    <div class="row">

        <div class="content">
            <h3>Saudi West Movement</h3>
            <p>Saudi West Movement (PTY) Ltd (or SWM as its formally known) is a South African music recording company, whose business activities span throughout the entire industry, further affording the record label the ability to control its artists'
                publishing rights, content streaming, distribution & broadcasting as well as aspects such as marketing & advertising, & overall music production.</p>
            <ul>
                <li><i class="fab fa-instagram"></i>Instagram
                    <p>@SaudiWestMovement</p>
                </li>
                <li><i class="fab fa-facebook"></i>Facebook
                    <p>SWM.</p>
                </li>
                <li><i class="fab fa-twitter"></i>Facebook
                    <p>@swm1804</p>
                </li>
            </ul>
            <a href="#" class="btn">Read More</a>
        </div>

        <div class="image">
            <img src="/static/images/SWM.jpeg" alt="">
        </div>
    </div>


</section>

<section class="artist" id="artist">
    <h1 class="heading">The artists</h1>

    <div class="box-container">


        <div class="box">
            <div class="image">
                <img src="/static/images/Profile/TB.jpg" alt="">
                <div class="share">
                    <a href="https://m.facebook.com/people/TABLOX." class="fab fa-facebook"></a>
                    <a href="https://www.instagram/massive_tab/." class="fab fa-instagram"></a>
                    <a href="{% url 'Tab' %}" class="fab fa-user">A</a>
                </div>
            </div>
            <div class="content">
                <h5>Rapper & CEO</h5>
                <h3>TABLOX</h3>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="/static/images/Profile/LK.jpg" alt="">
                <div class="share">
                    <a href="https://www.twitter/SaudiWestKnight." class="fab fa-twitter"></a>
                    <a href="https://www.instagram/saudiweszknight/." class="fab fa-instagram"></a>
                    <a href="{% url 'LK' %}" class="fab fa-user">A</a>
                </div>
            </div>
            <div class="content">
                <h5>Rapper & COO</h5>
                <h3>Last Knight</h3>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="/static/images/Profile/LP.jpg" alt="">
                <div class="share">
                    <a href="https://m.facebook.com/payne.godly/." class="fab fa-facebook"></a>
                    <a href="https://www.twitter.com/JPayne." class="fab fa-twitter"></a>
                    <a href="https://www.instagram/lordpayne_/" class="fab fa-instagram"></a>
                    <a href="{% url 'LP' %}" class="fab fa-user">A</a>
                </div>
            </div>
            <div class="content">
                <h5>Rapper & Producer</h5>
                <h3>Lord Payne</h3>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="/static/images/Profile/TH.png" alt="">
                <div class="share">
                    <a href="https://www.twitter.com/Cash_ThaPoet/" class="fab fa-twitter"></a>
                    <a href="https://www.instagram.com/gom_lemo/" class="fab fa-instagram"></a>
                    <a href="{% url 'TC' %}" class="fab fa-user">A</a>
                </div>
            </div>
            <div class=" content ">
                <h5>Rapper & Producer</h5>
                <h3>Tha Cash</h3>
            </div>
        </div>
        <div class="box ">
            <div class="image ">
                <img src="/static/images/Profile/SGS.jpg " alt=" ">
                <div class="share ">
                    <a href="https://www.twitter.com/speedygoslo/" class="fab fa-twitter "></a>
                    <a href="{% url 'SGS' %}" class="fab fa-user ">A</a>
                </div>
            </div>
            <div class="content ">
                <h5>Producer & Rapper</h5>
                <h3>SpeedyGoslow</h3>
            </div>
        </div>
        <div class="box ">
            <div class="image ">
                <img src="/static/images/Profile/MES.jpg " alt=" ">
                <div class="share ">
                    <a href="https://www.instagram/mesoweto/" class="fab fa-instagram "></a>
                    <a href="{% url 'MS'%}" class="fab fa-user ">A</a>
                </div>
            </div>
            <div class="content ">
                <h5>Rapper & Producer</h5>
                <h3>MESOWETO</h3>
            </div>
        </div>
        <div class="box ">
            <div class="image ">
                <img src="/static/images/Profile/TYM.jpg " alt=" ">
                <div class="share ">
                    <a href="https://www.twitter/Tymless_Jnr.." class="fab fa-twitter "></a>
                    <a href="https://www.instagram/tymless_jnr/." class="fab fa-instagram "></a>
                    <a href="{% url 'TL' %}" class="fab fa-user ">A</a>
                </div>
            </div>
            <div class="content ">
                <h5>Rapper & Producer</h5>
                <h3>TYMLESS</h3>
            </div>
        </div>
        <div class="box ">
            <div class="image ">
                <img src="/static/images/Profile/JA.jpg " alt=" ">
                <div class="share ">
                    <a href="https://m.facebook.com/JayMarOfficial1." class="fab fa-facebook "></a>
                    <a href="https://www.instagram/jaymar_rsa/." class="fab fa-instagram "></a>
                    <a href="{% url 'JM' %}" class="fab fa-user ">A</a>
                </div>
            </div>
            <div class="content ">
                <h5>Rapper & Producer</h5>
                <h3>JayMar</h3>
            </div>
        </div>
        <div class="box ">
            <div class="image ">
                <img src="/static/images/Profile/JT.jpg " alt=" ">
                <div class="share ">
                    <a href="https://www.twitter.com/JHFTR97/" class="fab fa-twitter "></a>
                    <a href="https://www.instagram.com/therealjahtafari/" class="fab fa-instagram "></a>
                    <a href="{% url 'JT'%}" class="fab fa-user">A</a>
                </div>
            </div>
            <div class="content ">
                <h5>Head of Production</h5>
                <h3>JahTafari</h3>
            </div>
        </div>

    </div>

</section>

<section class="Catalogue" id="Catalogue">
    <h1 class="heading ">Our Catalogue</h1>

    <div class="box-container ">
        <div class="box ">
            <div class="image ">
                <img src="/static/images/SWA/SWA1.jpg" alt=" ">
                <div class="share ">
                    <a href="# " class="fab fa-heart "></a>
                    <a href="# " class="fab fa-shopping cart "></a>
                </div>
            </div>
            <div class="content ">
                <h3>Last Knight x TABLOX</h3>
                <h3>Saudi West Atmosphere (2023)</h3>
                <h5>Free</h5>
                <a href="{% url 'SWA' %}" class="btn">Stream Now</a>
            </div>
        </div>
    </div>

</section>



<section class="blog" id="blog">

    <h1 class="heading ">PRIME BLOG</h1>


    <div class="box-container ">

        <div class="box ">
            <div class="image ">
                <img src="/static/images/Site_Pics/1687688340114.jpg " alt="LK ">
            </div>

            <div class="content ">
                <h3>Article : Last-Knight</h3>
                <div class="icons ">
                    <a href="# "><i class="fas fa-calender "></i> 7th September 2021</a>
                </div>
                <p>The Multi-Talented Singer and Poet Last Knight</p>
                <a class="btn " href="https://www.nevernaire.com/last-knight/ ">Click Here to See Article [right click and open a new tab]</a>
            </div>
        </div>
        <div class="box ">
            <div class="image ">
                <img src="/static/images/Site_Pics/1687688165574.jpg " alt="TB ">
            </div>

            <div class="content ">
                <h3>International Playlist : TABLOX</h3>
                <div class="icons ">
                    <a href="# "><i class="fas fa-calender "></i> 25th September 2021</a>
                </div>
                <p>Playlisted on an international Playlist</p>
                <a class="btn " href="https://amazingradio.com/profile/massivetab/tunes/e7cd9c54-ae4d-40d5-96fc-c14d3b04ff4a ">Click Here to See Article [right click and open a new tab]</a>
            </div>
        </div>
    </div>



</section>



{%endblock%}